In [105]:
#importing library
import pandas as pd
import pyodbc

In [106]:
pyodbc.drivers()

['SQL Server',
 'SQL Server Native Client 11.0',
 'ODBC Driver 17 for SQL Server',
 'SQL Server Native Client RDA 11.0',
 'PostgreSQL ANSI(x64)',
 'PostgreSQL Unicode(x64)']

In [107]:
#connection to OPS Database
conn=pyodbc.connect(
Trusted_connected='yes',
Driver='{SQL Server}',
Server='LAPTOP-H2O1AJA7',
Database='OPS'
)
cursor=conn.cursor()

In [108]:
#read the csv file
df=pd.read_csv('C:/Users/prave/OPS/STG_Planecrash.csv',encoding = 'ISO-8859-1')

In [109]:
df.head()

,date,time,location,operator,flight_no,route,ac_type,registration,cn_ln,aboard,fatalities,ground,summary
0,17-Sep-08,17:18,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2 (passengers:1 crew:1),1 (passengers:1 crew:0),0,"During a demonstration flight, a U.S. Army fly..."
1,7-Sep-09,?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1 (passengers:0 crew:1),1 (passengers:0 crew:0),0,Eugene Lefebvre was the first pilot to ever be...
2,12-Jul-12,6:30,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5 (passengers:0 crew:5),5 (passengers:0 crew:5),0,First U.S. dirigible Akron exploded just offsh...
3,6-Aug-13,?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1 (passengers:0 crew:1),1 (passengers:0 crew:1),0,The first fatal airplane accident in Canada oc...
4,9-Sep-13,c 18:30,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20 (passengers:? crew:?),14 (passengers:? crew:?),0,The airship flew into a thunderstorm and encou...

In [110]:
df.columns

Index(['date', 'time', 'location', 'operator', 'flight_no', 'route', 'ac_type',
       'registration', 'cn_ln', 'aboard', 'fatalities', 'ground', 'summary'],
      dtype='object')

In [111]:
#create the Table
cursor.execute('DROP TABLE IF EXISTS [dbo].[STG_Planecrash]')
cursor.execute('''
		CREATE TABLE STG_Planecrash (
			date varchar(1000),
			time varchar(1000),
			location varchar(1000),
            operator varchar(1000),
            flight_no varchar(1000),
            route varchar(1000),
            ac_type varchar(1000),
            registration varchar(1000),
            cn_ln varchar(1000),
            aboard varchar(1000),
            fatalities varchar(1000),
            ground varchar(1000),
            summary varchar(5000)
			)
               ''')
conn.commit()

In [112]:
#insert the table values
for row in df.itertuples():
    cursor.execute('''
                insert into OPS.dbo.STG_Planecrash (date,time,location,operator,flight_no,route,ac_type,registration,cn_ln,aboard,fatalities,ground,summary)
                values(?,?,?,?,?,?,?,?,?,?,?,?,?)
                ''',
                row.date,
                row.time,
                row.location,
                row.operator,
                row.flight_no,
                row.route,
                row.ac_type,
                row.registration,
                row.cn_ln,
                row.aboard,
                row.fatalities,
                row.ground,
                row.summary
                )
    
    conn.commit()